[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "__init__.py",
    "Dockerfile",
    "Makefile",
    "/bot",
    "quantum_web",
    "bot/app.py"
]
line-length = 88
# Версия Python для анализа
target-version = "py38"

[tool.ruff.lint]
# select — включённые коды ошибок:
# E4 — ошибки импорта (pycodestyle)
# E7 — ошибки синтаксиса (pycodestyle)
# E9 — ошибки ввода-вывода (pycodestyle)
# F  — ошибки Pyflakes (неиспользуемые переменные, несуществующие импорты и др.)
select = ["E4", "E7", "E9", "F"]
# ignore — игнорируемые коды ошибок:
# F811 — переопределение функции
ignore = ["F811"]
# fixable — какие ошибки можно исправлять автоматически (ALL — все)
fixable = ["ALL"]
# unfixable — какие ошибки нельзя исправлять автоматически:
# F841 — объявлена, но не используется переменная
unfixable = ["F841"]
# dummy-variable-rgx — разрешённые шаблоны для временных переменных (например, _ или __foo)
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.isort]
# Профиль форматирования для совместимости с black и ruff
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
